.AuthCont {
  display: grid;
  place-content: center;
  animation: margin 0.5s ease-out;
  img {
    border-radius: 8px;
    margin-top: 0.7em;
    box-shadow: 0 0 3px 2px lightgrey;
  }
}

@keyframes margin {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 0;
  }
}
