@import "../../variables";

.Input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 1em;
  &:disabled {
    border: 1px solid $light-grey;
    background-color: transparent;
    + label {
      color: $light-grey;
    }
  }
  input {
    width: 70%;
  }
  span {
    color: $red;
  }
 
  select {
    width: 10em;
  }
}
.error {
  color: $red;
  margin-top:  -0.4em;
  padding: 0;
  }
.errorInput {
  input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
    &:focus {
      border-color: #ff8800;
      background-color: #fbe8d2;
    }
  }
}
